---
---


<footer
  class="flex justify-center place-items-center absolute bottom-0 w-full h-12"
>
  <p>© 2023 Nicholas Rosdahl. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: var(--background);
    color: var(--text);
  }
</style>